{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/translation.js' %}"></script>
    <title>Spotify Wrap Analysis</title>
</head>
<body>

<div>
    <h1>Spotify Wrap AI Analysis For {{ wrap.year }}</h1>

    {% if description %}
        <div>
            <h2>Analysis</h2>
            <p>{{ description }}</p>
        </div>
    {% else %}
        <div>
            <p>Sorry! Currently there is no analyze for this wrap</p>
        </div>
    {% endif %}

    <div>
        <h3>Wrap Details</h3>
        <ul>

            <li><strong>Top Songs:</strong> {{ wrap.top_songs }}</li>
            <li><strong>Top Artist:</strong> {{ wrap.top_artists }}</li>

        </ul>
    </div>


</div>

</body>
</html>
